@import 'bootstrap';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.navbar {
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  background-color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  min-width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

.navImg {
  width: 150px;
}

.mainPageBackGround {
  width: 100%;
  min-height: 250px;
}
ul.timeline {
  $timeline-circle-diameter: 20px;
  $timeline-line-width: 2px;
  $timeline-circle-color: #22c0e8;
  $timeline-line-color: #d4d9df;
  $timeline-line-offset: $timeline-circle-diameter * 1.5 - $timeline-line-width /
    2;

  list-style-type: none;
  position: relative;

  &:before {
    content: ' ';
    background: $timeline-line-color;
    display: inline-block;
    position: absolute;
    left: $timeline-line-offset;
    width: $timeline-line-width;
    height: 100%;
  }

  > li {
    margin: $timeline-circle-diameter 0;
    padding-left: $timeline-circle-diameter;

    &:hover:before {
      background: $timeline-circle-color;
    }

    &:before {
      content: ' ';
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      border: $timeline-line-width solid $timeline-circle-color;
      left: $timeline-circle-diameter;
      width: $timeline-circle-diameter;
      height: $timeline-circle-diameter;
    }
  }
}
